.question {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    line-height: 1.5;
    text-align: left;
}

.question ul {
    padding-left: 0;
}

.question li {
    line-height: 1.5;
    list-style-type: none; /* Remove the default list bullet */
    margin-bottom: 10px; /* Adjust this value to increase or decrease space between choices */
}

.question li.selected {
    background-color: #c0c0c0;
}

.question button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #c0c0c0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* .question button:hover {
    background-color: #a0a0a0;
}

.question button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
} */

.question button.hidden {
    display: none;
}
